:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --color-highlight-d1: #138b73;
  --color-highlight: #1bb99a;
  --color-highlight-l1: #a3e3d6;
  --color-highlight-l2: #d1f1eb;

  --color-dark-d1: #171d1d;
  --color-dark: #2a3434;
  --color-dark-l1: #a9adad;
  --color-dark-l2: #d4d6d6;

  --color-light-d1: #f5f5f5;
  --color-light: #fff;

  --color-negative: #f05454;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora:ital,wght@0,400;0,700;1,400;1,600&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: var(--color-dark);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-highlight);
}

.type--title {
  font-family: "Lora";
  font-size: 72px;
}

.type--heading-1 {
  font-family: "Lora";
  font-size: 46px;
  margin-top: 0;
  margin-bottom: var(--spacing-lg);
}

.type--heading-2 {
  font-family: "Lora";
  font-size: 38px;
  margin-bottom: var(--spacing-md);
}

.type--heading-3 {
  font-family: "Lora";
  font-size: 20px;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}

.type--body {
  font-size: 16px;
  line-height: 160%;
}

.type--action {
  font-size: 18px;
}

.type--preheader,
.type--label {
  font-size: 14px;
  text-transform: uppercase;
}

.type--preheader {
  color: var(--color-highlight);
}

.type--label {
  font-weight: 500;
}

.type--meta {
  font-size: 14px;
}

.ovl-grid {
  display: grid;
}

.ovl-grid__body {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
}

.ovl-image-wrapper--full-width {
  width: 100%;
}

.ovl-image--cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.7));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px;
}

.cover-image {
  max-height: 300px;
}

.ovl-circle-separator {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: var(--color-dark);
  margin: 0 var(--spacing-sm);
  margin-top: 2.5px;
}

.ovl-flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ovl-welcome-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-bottom: var(--spacing-lg);
}

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .type--heading-1 {
    font-size: 52px;
  }

  .ovl-grid {
    grid-template-columns: 1.2fr 0.8fr;
  }

  .ovl-grid__body {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg);
  }

  .cover-image {
    max-height: 100%;
  }

  .ovl-welcome-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
